FIREBASE_PROJECT_ID=paa-website-image-sorter
FIREBASE_CLIENT_EMAIL=firebase-adminsdk-xxxxx@paa-website-image-sorter.iam.gserviceaccount.com
FIREBASE_PRIVATE_KEY="-----BEGIN PRIVATE KEY-----\nYOUR_PRIVATE_KEY\n-----END PRIVATE KEY-----\n"
ALLOWED_EMAIL_DOMAINS=
ALLOWED_EMAILS=
